@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Battleships Game</h1>
    <p>To start plaing the game press start button below.</p>
    <a asp-page="/Game/Create"><button>Start</button></a>
</div>